.card {
    /* border: 3px solid lightgrey;
    width: 30vw;
    position: relative;
    left: 30%;
    padding: 15px;
    margin: 10px; */
    border: 2px solid #ccc;
    width: 400px;
    padding: 0.5rem;
    position: relative;
    margin: 10px auto;
}
img {
    width: 100%;
}

.ratingpill {
    background-color: white;
    position: absolute;
    left: 22px;
    top: 47%;
    border-radius: 10px;
    padding: 2px;
}
.ProductName {
    position: relative;
}
.ProductName span {
    color: red;
    position: absolute;
    left: 350px;
    font-size: 2rem;
}
.product-price span {
    text-decoration: line-through;
}