*{
    margin: 0;
    padding: 0;
}
#nav1 li {
    display: inline-block;
    margin-right: 12px;
    position: relative;
    bottom: 20px;
}

#nav2 li {
    display: inline-block;
    margin-right: 20px;
    
}

#nav1 a {
    text-decoration: none;
    font-size: 1.3rem;
    font: message-box;
    font-weight: bold;
    color: black;
}

#nav2 a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font: menu;
    font-size: 0.85rem;
}

#nav1 {
    background-color: white;
    padding : 3px;
    width : 100%;
    margin-bottom: 2px;
}

#nav2 {
    background-color: black;
    padding: 10px;
    position: sticky;
    top: 0px;
    width: 100%;
}


#logo {
    width: 60px;
    cursor: pointer;
}